/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 1920px) {
  .header__question__title,
  .header__question__email,
  .header__top__btn {
    font-size: 16px;
  }

  .header__link,
  .search__input,
  .search__input::placeholder {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .header__nav {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-title-color, #384158);
    transition: 0.4s;
    transform: translateX(-100%);
  }

  .header__nav.active {
    transform: translateX(0);
  }

  .header__ul {
    flex-direction: column;
  }

  .header__li {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .header__link {
    margin-bottom: 20px;
    text-align: center;
  }

  .burger {
    position: relative;
    z-index: 99;
    display: block;
    overflow: hidden;
  }

  .header__link::before {
    bottom: -4px;
  }

  .search__icon path {
    fill: #fff;
    stroke: #fff;
  }

  .search__icon {
    background-color: var(--main-title-color, #384158);
  }

  .scene {
    margin-right: 30px;
  }

  .lessons__item {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .register__form {
    margin-right: 0;
  }
}

@media only screen and (max-width: 860px) {
  .main-screen__input {
    width: 200px;
  }

  .learning {
    flex-direction: column;
  }

  .scene {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .main-screen__form {
    flex-direction: column;
    align-items: center;
  }

  .main-screen__inputs {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-screen__title {
    margin-bottom: 0;
    font-size: 80px;
  }

  .main-screen__sub-title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .register__content .flex {
    flex-direction: column;
  }

  .register__form {
    margin-left: 0;
  }

  .register__left {
    margin-bottom: 40px;
  }

  .register__title {
    text-align: center;
  }

  .register__p {
    text-align: center;
  }

  .register__content {
    padding: 40px 0;
  }
}

@media only screen and (max-width: 600px) {
  .header__top__content {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__question {
    margin-bottom: 20px;
  }

  .main-screen__inputs {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main-screen__input {
    height: 46px;
    border-right: 0;
  }

  .main-screen__select {
    margin-left: 0;
  }

  .main-screen {
    height: calc(100vh - 193px);
  }

  .main-screen__title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .main-screen__title {
    font-size: 50px;
  }

  .main-screen__sub-title {
    font-size: 24px;
  }

  .header__question {
    margin-bottom: 10px;
  }

  .header__top__btn {
    padding: 5px 10px;
  }

  .header__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-screen {
    height: calc(100vh - 155px);
  }

  .title {
    font-size: 30px;
  }

  .learning__item__title {
    font-size: 18px;
  }

  .lessons__item__content {
    padding: 10px;
  }

  .lessons__item__title {
    font-size: 18px;
  }

  .lessons__item__sub-title {
    font-size: 14px;
  }

  .lessons__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .lessons__item__content {
    width: 100%;
  }

  .lessons__img__wrap {
    width: 100%;
    text-align: center;
  }

  .lessons__img__wrap img {
    width: 100%;
  }

  .lessons__footer {
    flex-direction: column;
  }

  .lessons__footer__left,
  .lessons__footer__center {
    margin-bottom: 10px;
  }

  .register__form {
    width: 100%;
    padding: 10px 20px;
  }
}
